 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-group-1 {
  width: 889px;
  min-height: 392px;
  background-image: none;
  margin: 40px 30px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 370px;
}

.u-section-1 .u-text-1 {
  margin-top: 54px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-image-1 {
  width: 459px;
  height: 459px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("../images/health-clipart-transparent-1.png");
  background-position: 50% 50%;
  margin: -333px auto 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  margin: -180px 30px -84px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-group-1 {
    width: 763px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -78px;
    margin-right: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-group-1 {
    width: 577px;
    min-height: 426px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 40px 130px 60px;
  }

  .u-section-1 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: -93px;
  }

  .u-section-1 .u-shape-1 {
    width: 192px;
    height: 192px;
    margin-top: -87px;
    margin-right: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-1 .u-group-1 {
    width: 466px;
    min-height: 446px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 30px 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -88px;
  }

  .u-section-1 .u-shape-1 {
    width: 148px;
    height: 148px;
    margin-top: -51px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-group-1 {
    width: 309px;
  }

  .u-section-1 .u-image-1 {
    height: 150px;
    width: 150px;
    margin-top: -553px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 127px;
    height: 127px;
    margin: 340px auto 60px 0;
  }
}