 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  margin: 24px 0 -18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-2 {
  background-image: url("../images/diabetes-geral-1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 323px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-2 .u-custom-html-2 {
  min-height: 172px;
  width: 374px;
  margin: 46px auto 95px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 234px;
    width: 184px;
    margin-top: 57px;
    margin-bottom: 60px;
  }
}