.u-section-1 .u-sheet-1 {
  min-height: 486px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 15px 0 70px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 412px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 13px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 412px;
  background-image: url("../images/46279288-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 412px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 260px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 585px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 368px;
  }
} .u-section-2 {
  background-image: url("../images/original.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 867px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-2 .u-shape-1 {
  width: 525px;
  height: 593px;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-2 .u-custom-html-2 {
  min-height: 505px;
  width: 411px;
  margin: -549px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    width: 374px;
    margin-top: -608px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 712px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 70px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 340px;
    margin-top: -629px;
  }
}